<div>{{ ret_val }}</div><br>

<form class="ui form"  (ngSubmit)="updateBiometricsDetails()" #updateBiometricsForm="ngForm">

  <div class="field">
    <label>Node Address</label>
    <input type="text" name="nodeaddr" placeholder="Node Address" ngModel required #nodeaddr="ngModel">
    <span class="flash-message" *ngIf="!nodeaddr.valid && nodeaddr.touched">Please enter a valid node address.</span>
  </div>

  <div class="field">
    <label>Face ID</label>
    <input type="text" name="face" placeholder="Face ID"  ngModel required  #face="ngModel">
    <span class="flash-message" *ngIf="!face.valid && face.touched">Please enter a valid reference.</span>
  </div>

  <div class="field">
    <label>Fingerprint ID</label>
    <input type="text" name="fingerprint" placeholder="Fingerprint ID"  ngModel required  #fingerprint="ngModel">
    <span class="flash-message" *ngIf="!fingerprint.valid && fingerprint.touched">Please enter a valid reference.</span>
  </div>

  <div class="field">
    <label>Iris ID</label>
    <input type="text" name="iris" placeholder="Iris ID"  ngModel required  #iris="ngModel">
    <span class="flash-message" *ngIf="!iris.valid && iris.touched">Please enter a valid reference.</span>
  </div>

  <br>
  <button class="ui button" type="submit" [disabled]="!updateBiometricsForm.valid">Submit</button>
</form>