 <div class="ui vertical fluid tabular menu">
  <a class="item" routerLinkActive="active" routerLink="/home">Home</a>
  <a class="item" routerLinkActive="active" routerLink="/access-records">Access Records</a>
  <a class="item" routerLinkActive="active" routerLink="/manage-permissions">Manage Permissions</a>
  <a class="item" routerLinkActive="active" routerLink="/register-applicant">Register Applicant</a>
  <a class="item" routerLinkActive="active" routerLink="/update-records">Update Records</a>
  <a class="item" routerLinkActive="active" routerLink="/regulate-nodes">Regulate Nodes</a>
</div>
