<br><br>
<button class="ui large black button" (click)="accessOwnRecords()">Access Own Records</button> <br><br>
<div class="own_records" [innerHtml]="ownRecords"></div> <br><br><br>
<!-- <button class="ui large black button" (click)="designateNode()">Designate Node</button>
<button class="ui large black button" (click)="deposeNode()">Depose Node</button> -->
<!-- <button class="ui large black button" (click)="addRecords()">Add Records</button> -->
<!-- <button class="ui large black button" (click)="updatePersonalDetails()">Update Personal Details</button>
<button class="ui large black button" (click)="updateContactDetails()">Update Contact Details</button>
<button class="ui large black button" (click)="updateBiometricDetails()">Update Biometric Details</button> <br><br>
<button class="ui large black button" (click)="grantAccess()">Grant Access</button> 
<button class="ui large black button" (click)="revokeAccess()">Revoke Access</button>
<button class="ui large black button" (click)="accessOthersRecords()">Access Others Records</button> -->